body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 5.625rem;
    margin: 50px auto;
    font-family: 'Sacramento', cursive;
    color: #45B29A;
    position: relative;
    line-height: 2;
}

h2 {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #45B29A;
    position: relative;
    z-index: 5;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

p {
    line-height: 1.5;
    letter-spacing: 2px;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.top-cloud {
    position: absolute;
    top: 20px;
    right: 50px;
}

.bottom-cloud {
    position: absolute;
    bottom: 200px;
    left: 50px;
}

.profile {
    max-width: 33rem;
    margin: 4rem auto;
}

.footer-link {
    color: #11999E;
}