body {
    margin: 0;
}

h1 {
    margin-top: 0;
}

.box {
    width: 200px;
    height: 200px;
}

.top {
    background-color: #E4F9F5;
}

.middle {
    background-color: red;
}

.bottom {
    background-color: blue;
}