body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 5.625rem;
    margin: 50px auto;
    font-family: 'Sacramento', cursive;
    color: #45B29A;
    position: relative;
    z-index: 5;
}

h2 {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #45B29A;
    position: relative;
    z-index: 5;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

p {
    line-height: 1.5;
    letter-spacing: 2px;
}

hr {
    width: 4rem;
    border: 0;
    border-top: 0.5rem dotted lightgrey ;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.top-cloud {
    width: 30%;
    position: absolute;
    top: 1%;
    right: 5%;
}

.bottom-cloud {
    width: 30%;
    position: absolute;
    bottom: 30%;
    left: 5%;
}

.mountains {
    width: 100%;
}

.profile {
    max-width: 33rem;
    margin: 4rem auto;
    padding: 0 1rem;
}

.skills {
    max-width: 40rem;
    margin: 4rem auto;
    padding: 0 1rem;
}

.skill-row {
    margin: 2rem auto;
}

.footer-link {
    color: #11999E;
}